@model HomeModel

<div class="row">
    <div class="col-md-6">

        <div class="jumbotron text-center vet-panel">
            Liczba właścicieli <br />
            <span class="vet-panel-number">@Model.NumberOfOwners</span>
        </div>
    </div>
    <div class="col-md-6">

        <div class="jumbotron text-center vet-panel">
            Liczba zwierząt  <br />
            <span class="vet-panel-number">@Model.NumberOfPets</span>

        </div>
    </div>

</div>